node_modules/
www/
android/.gradle/
android/app/build/
android/build/
android/captures/
android/.idea/
android/local.properties
android/app/release/
ios/App/Pods/
ios/App/build/
ios/DerivedData/
*.apk
*.aab
*.ipa
.DS_Store
